<head>
    <title>Dota 2 Timer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
    <h1 class="text-center">Dota Timer</h1>
    <div class="text-center">
        <span id="timer">00:00</span>
    </div>
    <button  id="timer-start">Start</button>
    <ul class="main-display list-unstyled text-center">

    </ul>

    

    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <!-- <script type="text/javascript" src="/js/popper.min.js"></script> -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/dota.js"></script>
</body>