<head>
    <title>Dota 2 Timer</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://use.typekit.net/jam2upa.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
    
    
    
    <nav class="navbar">
        <span id="menubtn"><i class="fas fa-bars" id="menubtn-icon"></i></span>
        <span class="title" ><img src="dota-timer-logo.svg" alt=""></span>
        <span></span>
    </nav>

    
    
    
    <div id="sideNav" class="sideNav">
        <div class="hamburgerTitle">
            <span><i class="fas fa-bars" id="closebtn"></i></span>
            <span>Dota Timer</span>
        </div>
        <div id="sideNav2">
            <ul>
                <li>
                    <a href="#"><i class="fas fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-github"></i> Github</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-info"></i> About</a>
                </li>
            </ul>
        </div>
    </div>
    
    <main>
        <div class="timer-content">
            <div class="timer-container">
                <span id="timer">00:00</span>
            </div>
            <button  id="timer-start">Start</button>
            <ul class="main-display">
                
            </ul>
        </div>
        
    </main>
    

    

    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <!-- <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="/js/dota.js"></script>
</body>