<% include partials/header %>
    
    <div class="container text-center" id="landingContainer">
        <h1>Dota 2 Support Timer</h1>
        <a class="btn btn-large btn-primary" href="#">Get Started</a>
    </div>    

<% include partials/footer %>