html {
    height: 100%;
}
body {
    height: 100%;
}
#landingContainer {
    margin-top: 20%;
}
#dashboardRow {
    height: 100%;
}
#dashboardContainer {
    height: 100%;
}
.menuEntry {
    color: black;
}