body {
    height: 100vh;
    margin: 0;
    background-image: url('../dotabg.jpeg');
    font-family: 'trajan-pro-3', serif;
    /* overflow-y: hidden; */
}

/* navbar general */
.navbar {
    display: flex;
    background-color: #252525;
    padding: 13px 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 4px 2px rgba(20, 20, 20, 0.2))
}

/* each take up a third */
.navbar span {
    width: 33%;
    display: flex;
}

/* hamburger icon styling */
.navbar span i {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.navbar span i:hover {
    color: #7F7F7F;
}

/* Dota timer at center of navbar */
.navbar .title {
    display: inline-block;
    text-align: center;
}
.navbar .title img {
    width: 200px;
    text-align: center;
}


/* Side nav styling */
.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5F5F5F;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 2px 1px 4px 1px rgba(20, 20, 20, 0.8);
}

.sideNav .hamburgerTitle {
    padding-top: 13px;
    padding-left: 15px;
    padding-bottom: 13px;
    padding-right: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.sideNav .hamburgerTitle span>i {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.sideNav .hamburgerTitle span {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

#sideNav2 {
    border-bottom: 1px solid white;
}

#sideNav2>ul>li>a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    height: 100%;
    transition: margin-left .5s;
}

.timer-content {
    text-align: center;
    background-color: rgba(60, 60, 60, 0.9);
    width: 66%;
    height: 100%;
    border-radius: 5px;
}

.timer-content .timer-container {
    padding-top: 20px;
}

.timer-content .timer-container #timer {
    color: white;
    font-size: 3rem;
}

.timer-content #timer-start {
    font-family: 'trajan-pro-3', serif;
    font-size: 1.6rem;
    border-radius: 7px;

}

.timer-content .main-display {
    margin-top: 30px;
}

.timer-content .main-display>li {
    color: black;
    background-color: white;
    width: 50%;
    border-radius: 7px;
    box-shadow: 1px 1px 4px 1px #202020;
    font-size: 2rem;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

li {
    margin: 5px auto;
    color: white;
    font-size: 1.4rem;
}

#timer-start {
    display: block;
    margin: 5px auto;
}

#timer {
    font-weight: 800;
    font-size: 2rem;
}


.util-sidenav-open {
    width: 230px;
}

.util-sidenav-hidden {
    width: 0px;
}
