<% include partials/header %>

<div class="container-fluid" id="dashboardContainer">
    <div class="row" id="dashboardRow">
        <div class="col-2" style="background: grey;">
            <div class="row">
                <a class="menuEntry mx-auto" href="#">Dota Timer</a>
            </div>
            <div class="row">
                <a class="menuEntry mx-auto" href="#">Dota Timer</a>
            </div>
            <div class="row">
                <a class="menuEntry mx-auto" href="#">Dota Timer</a>
            </div>
        </div>
        <div class="col-10" style="background: pink;">
            <p>content</p>
        </div>
    </div>
</div>

<% include partials/footer %>